# Importing libraries

In [5]:
import os
import pandas as pd

In [6]:
df = pd.read_csv('pollution_us_2000_2016.csv')
df.head()

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,1.145833,4.2,21,NaN
1,1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.2,23,25.0
2,2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,1.145833,4.2,21,NaN
3,3,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,0.878947,2.2,23,25.0
4,4,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,...,Parts per billion,1.958333,3.0,22,4.0,Parts per million,0.850000,1.6,23,NaN

In [7]:
df.columns

Index(['Unnamed: 0', 'State Code', 'County Code', 'Site Num', 'Address',
       'State', 'County', 'City', 'Date Local', 'NO2 Units', 'NO2 Mean',
       'NO2 1st Max Value', 'NO2 1st Max Hour', 'NO2 AQI', 'O3 Units',
       'O3 Mean', 'O3 1st Max Value', 'O3 1st Max Hour', 'O3 AQI', 'SO2 Units',
       'SO2 Mean', 'SO2 1st Max Value', 'SO2 1st Max Hour', 'SO2 AQI',
       'CO Units', 'CO Mean', 'CO 1st Max Value', 'CO 1st Max Hour', 'CO AQI'],
      dtype='object')

In [8]:
df_ca = df[df['State'] == 'California']
df_ca

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
3516,3516,6,13,2,2956-A TREAT BOULEVARD,California,Contra Costa,Concord,2000-01-01,Parts per billion,...,Parts per billion,0.636364,2.0,9,3.0,Parts per million,0.556522,1.3,4,NaN
3517,3517,6,13,2,2956-A TREAT BOULEVARD,California,Contra Costa,Concord,2000-01-01,Parts per billion,...,Parts per billion,0.636364,2.0,9,3.0,Parts per million,0.572222,0.8,6,9.0
3518,3518,6,13,2,2956-A TREAT BOULEVARD,California,Contra Costa,Concord,2000-01-01,Parts per billion,...,Parts per billion,0.600000,2.0,11,NaN,Parts per million,0.556522,1.3,4,NaN
3519,3519,6,13,2,2956-A TREAT BOULEVARD,California,Contra Costa,Concord,2000-01-01,Parts per billion,...,Parts per billion,0.600000,2.0,11,NaN,Parts per million,0.572222,0.8,6,9.0
3520,3520,6,13,2,2956-A TREAT BOULEVARD,California,Contra Costa,Concord,2000-01-02,Parts per billion,...,Parts per billion,1.000000,2.0,5,3.0,Parts per million,0.578261,1.1,21,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1729192,7135,6,95,4,304 TUOLUMNE ST.,California,Solano,Vallejo,2016-04-29,Parts per billion,...,Parts per billion,0.457143,0.6,11,NaN,Parts per million,0.262500,0.3,1,3.0
1729193,7136,6,95,4,304 TUOLUMNE ST.,California,Solano,Vallejo,2016-04-30,Parts per billion,...,Parts per billion,0.468182,0.5,1,0.0,Parts per million,0.247826,0.4,0,NaN
1729194,7137,6,95,4,304 TUOLUMNE ST.,California,Solano,Vallejo,2016-04-30,Parts per billion,...,Parts per billion,0.468182,0.5,1,0.0,Parts per million,0.245833,0.3,1,3.0
1729195,7138,6,95,4,304 TUOLUMNE ST.,California,Solano,Vallejo,2016-04-30,Parts per billion,...,Parts per billion,0.442857,0.5,14,NaN,Parts per million,0.247826,0.4,0,NaN
1729196,7139,6,95,4,304 TUOLUMNE ST.,California,Solano,Vallejo,2016-04-30,Parts per billion,...,Parts per billion,0.442857,0.5,14,NaN,Parts per million,0.245833,0.3,1,3.0

In [14]:
df_ca.isnull().sum().sort_values(ascending=False)

CO AQI               288082
SO2 AQI              287910
O3 Mean                   0
CO 1st Max Hour           0
CO 1st Max Value          0
CO Mean                   0
CO Units                  0
SO2 1st Max Hour          0
SO2 1st Max Value         0
SO2 Mean                  0
SO2 Units                 0
O3 AQI                    0
O3 1st Max Hour           0
O3 1st Max Value          0
Unnamed: 0                0
State Code                0
NO2 AQI                   0
NO2 1st Max Hour          0
NO2 1st Max Value         0
NO2 Mean                  0
NO2 Units                 0
Date Local                0
City                      0
County                    0
State                     0
Address                   0
Site Num                  0
County Code               0
O3 Units                  0
dtype: int64

In [11]:
df_ca['City'].unique()

array(['Concord', 'Bethel Island', 'San Pablo', 'Pittsburg', 'Calexico',
       'Bakersfield', 'Burbank', 'Los Angeles', 'Long Beach', 'Hawthorne',
       'Costa Mesa', 'Rubidoux', 'Not in a city', 'Arden-Arcade',
       'Victorville', 'Chula Vista', 'San Diego', 'San Francisco',
       'Capitan', 'Lompoc', 'Goleta', 'Vandenberg Air Force Base',
       'Davenport', 'Vallejo', 'Oakland', 'Crockett', 'West Los Angeles',
       'Fresno', 'Eureka', 'Berkeley', 'Benicia', 'Fontana', 'San Jose',
       'Cupertino', 'El Cajon'], dtype=object)

In [12]:
df_ca['County'].unique()

array(['Contra Costa', 'Imperial', 'Kern', 'Los Angeles', 'Orange',
       'Riverside', 'Sacramento', 'San Bernardino', 'San Diego',
       'San Francisco', 'Santa Barbara', 'Santa Cruz', 'Solano',
       'Ventura', 'Alameda', 'Fresno', 'Humboldt', 'Santa Clara'],
      dtype=object)